<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/all.min.css">
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/style.css">
</head>

<body class="overflow-y-scroll">

    <div class="container">
        <div class="d-flex">
            <div class="col-lg-3">
                <header class="py-2 d-flex flex-column justify-content-between overflow-y-scroll overflow-x-hidden position-relative">
                    <div>
                        <div class="w-25 py-2">
                            <div class="logo d-inline-block">
                                <svg style="color: #e7e9ea;" viewBox="0 0 24 24" aria-hidden="true"
                                    class="r-4qtqp9 r-yyyyoo r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-lrsllp r-1nao33i r-16y2uox r-8kz0gk">
                                    <g>
                                        <path
                                            d="M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z">
                                        </path>
                                    </g>
                                </svg>
                            </div>
                        </div>
                        <nav>
                            <ul class="text_color f_20_28_600 p-0" type="none">
                                <li class="py-3">
                                    <a href="#"><i class=" fa-solid fa-house"></i> Home</a>
                                </li>
                                <li class="py-3">
                                    <a href="#"><i class=" fa-solid fa-magnifying-glass"></i> Search</a>
                                </li>
                                <li class="py-3">
                                    <a href="#"><i class=" fa-regular fa-bell"></i> Notification</a>
                                </li>
                                <li class="py-3">
                                    <a href="#"><i class="fa-regular fa-envelope"></i> Message</a>
                                </li>
                                <li class="py-3">
                                    <a href="#"><i class="fa-regular fa-file-lines"></i> Lists</a>
                                </li>
                                <li class="py-3">
                                    <a href="#"><i class="fa-brands fa-x-twitter"></i> Premium</a>
                                </li>
                                <li class="py-3">
                                    <a href="#"><i class="fa-regular fa-user"></i> Profile</a>
                                </li>
                                <li class="py-3">
                                    <a href="#"><i class="fa-regular fa-circle-question"></i> More</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="position-relative py-3">
                        <div class="pop_up_logout" id="pop_up_logout" style="display: none;">
                            <span class="d-block py-2"><a href="/logout">Log out <%= user.username %></a></span>
                            <span class="d-block py-2"><a href="#">Add an Existing account </a></span>
                        </div>

                        <div class="bottom_profile d-flex align-items-center" onclick="showPopup()">
                            <div class="col-lg-2">
                                <img src="<%= user.profile_pic %>" alt="profile_pic" class="profile_pic img-fluid" style="border-radius: 50px;">
                            </div>
                            <div class="col-lg-8 ms-2 f_15_18_500 white_color">
                                <span class="d-block"><%= user.name %></span>
                                <span class="d-block secondary_color" ><%= user.username %></span>
                            </div>
                            <div class="col-lg-2 text-center white_color">
                                <i class="fa-solid fa-ellipsis"></i>
                            </div>
                        </div>
                    </div>
                </header>
            </div>
            
            <div class="col-lg-7">
                <div class="all_random_post">
                    <div class="post_section_header">
                        <div class="f_15_18_500 d-flex py-3 text-center white_color">
                            <div class="col-lg-5"><span class="post_section_header_active py-3 position-relative">For you</span></div>
                            <div class="col-lg-5"><span class="py-3 position-relative">Following</span></div>
                            <div class="col-lg-2"><span class="py-3 position-relative"><i class="fa-solid fa-gear"></i></span></div>
                        </div>
                    </div>
                    
                    <% allPosts.map((post) => { %>
                    <div class="view_all_post p-3 position-relative">
                        <div class="post-profile d-flex">
                            <div class="col-lg-1">
                                <img src="<%= user.profile_pic %>" alt="" class="profile_pic img-fluid" style="border-radius: 50px;">
                            </div>
                            <div class="col-lg-11">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="d-flex align-items-center">
                                        <h4 class="f_15_18_500 me-2 white_color m-0"><%= user.name %></h4>
                                        <span class="f_15_18_500 m-0 secondary_color" ><%= user.username %></span>
                                    </div>
                                    <div class="secondary_color togollor" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fa-solid fa-ellipsis" ></i>
                                    </div>
                                </div>
                                <ul class="dropdown-menu ps-0 mb-0" type="none">
                                    <li class="my-2">
                                        <a href="#" class="dropdown-item d-flex align-items-center"><i class="fa-regular fa-trash-can" style="width: 30px;"></i> Delete</a>
                                    </li>
                                    <li class="my-2">
                                        <a href="#" class="dropdown-item d-flex align-items-center"><i class="fa-regular fa-pen-to-square" style="width: 30px;"></i>Edit</a>
                                    </li>
                                </ul>
                                <div class="white_color">
                                    <% if (post.post_content) { %>
                                        <div class="mt-2">
                                            <p><%= post.post_content %></p>
                                        </div>
                                    <% } %>
                                    <% if (post.post_imgs && post.post_imgs.length > 0) { %>
                                        <div class="images mt-3">
                                            <% post.post_imgs.map(img => { %>
                                                <img src="<%= img %>" alt="Post Image" class="post_imgs_view img-fluid">
                                            <% }) %>
                                        </div>
                                    <% } %>
                                </div>
                                <div class="mt-4 d-flex align-items-center justify-content-between secondary_color">
                                    <div>
                                        <i class="fa-regular fa-comment"></i>
                                    </div>
                                    <div>
                                        <i class="fa-solid fa-retweet"></i>
                                    </div>
                                    <div>
                                        <i class="fa-regular fa-heart"></i>
                                    </div>
                                    <div>
                                        <i class="fa-solid fa-chart-simple"></i>
                                    </div>
                                    <div>
                                        <a href="/deletePost?id=<%= post.id %>" class="text-danger d-flex align-items-center"><i class="fa-regular fa-trash-can"></i></a>
                                    </div>
                                    <div>
                                        <a href="/editPost?id=<%= post.id %>" class="text-primary d-flex align-items-center"><i class="fa-regular fa-pen-to-square"></i></a>
                                    </div>
                                    <div>
                                        <i class="me-3 fa-regular fa-bookmark"></i>
                                        <i class="fa-solid fa-arrow-up-from-bracket"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        

                      <%  }) %>   
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/public/js/jquery-3.7.0.min.js"></script>
    <script src="/public/js/bootstrap.bundle.min.js"></script>
    <script>
        function showPopup() {
            // document.getElementById('overlay').style.display = 'block';
            // document.getElementById('pop_up_logout').style.display = 'block';
            var popup = document.getElementById('pop_up_logout')

            if (popup.style.display === 'none') {
                popup.style.display = 'block';
            } else {
                popup.style.display = 'none';
            }
        }

        function hidePopup() {
            // document.getElementById('overlay').style.display = 'none';
            document.getElementById('pop_up_logout').style.display = 'none';
        }

        function checkButtonState() {
            var content = document.querySelector('.post_content').value.trim();
            var fileInput = document.getElementById('post_imgs');
            var postButton = document.getElementById('postButton');

            if (content.length > 0 || fileInput.files.length > 0) {
                postButton.disabled = false;
            } else {
                postButton.disabled = true;
            }
        }
    </script>
</body>

</html>